<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/login.css">
    <title>Login</title>
</head>
<body>
    <div id="login-card">
        <h1>Login</h1>
        <p>Ingresa tu correo abajo para por ingresar a tu cuenta</p>
        <form action="/users/login" method="post" id="login-form">
            <label class="login-item">Correo</label><br/>
            <input type="email" name="correo" id="email" class="login-item" placeholder="m@example.com"><br/>
            <label class="login-item">Contraseña</label><br/>
            <input type="password" name="contraseña" id="password" class="login-item" ><br/>
            <input type="submit" value="Login" class="login-item">
        </form>
        <p>No tienes una cuenta? </p><a href="">Registrarse</a>
    </div>
</body>
</html>