<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/login.css">
    <title>Login</title>
</head>
<body>
    <div id="registro-card">
        <h1>Login</h1>
        <p>Ingresa tu correo abajo para por ingresar a tu cuenta</p>
        <form action="/users/registro" method="post" id="login-form">
            <label class="login-item">Nombre</label><br/>
            <input type="text" name="nombre" class="login-item"><br/>
            <label class="login-item">Apellido Paterno</label><br/>
            <input type="text" name="apellidoP" class="login-item"><br/>
            <label class="login-item">Apellido Materno</label><br/>
            <input type="text" name="apellidoM" class="login-item"><br/>
            <label class="login-item">Correo</label><br/>
            <input type="email" name="correo" id="email" class="login-item" placeholder="m@example.com"><br/>
            <label class="login-item">Contraseña</label><br/>
            <input type="password" name="contraseña" id="password" class="login-item" ><br/>
            <label class="login-item">Telefono</label><br/>
            <input type="text" name="telefono" class="login-item"><br/>
            <label class="login-item">Es administrador ?</label><br/>
            <input type="checkbox" name="isAdmin" class="login-item"><br/>
            <input type="submit" value="Registrar" class="login-item">
        </form>
        <p>Tienes una cuenta? </p><a href="./login">Iniciar Sesion</a>
    </div>
</body>
</html>